<h1 class='center'>Moussa 's Pizzas</h1>
<div class='container'>
  <div class="row">
    <div *ngFor='let singlePizza of PIZZAS' class="col s6 m4">
      <div class="card horizontal" (click)="selectPizza(singlePizza)" appBorderCard="blue">
        <div class="card-image" style="width: 80px"><img [src]="singlePizza.picture"></div>
        <div class="card-stacked">
          <div class="card-content"><p>{{ singlePizza.name }}</p>
            <p>
              <small>{{ singlePizza.created | date}}</small>
            </p>
            <span *ngFor="let ingredient of singlePizza.compositions" class="{{ ingredient | pizzaIngredientColor }}">{{ingredient }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

